<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin/users}" th:object="${user}">
    <label for="name">Enter firstname: </label>
    <input type="text" th:field="*{firstname}" id="name"/>
    <br/>
    <label for="lastname">Enter lastname: </label>
    <input type="text" th:field="*{lastname}" id="lastname"/>
    <br/>
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>
    <input type="submit" value="Create!"/>
</form>

</br>
<form method="post" th:action="@{/logout}">
    <input type="submit" value="Logout">
</form>

</body>
</html>